<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table>
  <thead>
    <tr>
      <style>
        th {
          background-color: gray;
          color: white;
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        }
      </style>
      <th>Context</th>
      <th>Comment owner</th>
      <th>Which receipt</th>
      <th>Commentid</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  </style>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.context %></td>
        <td><%= comment.comment_owner %></td>
        <td><%= comment.which_receipt_id %></td>
        <td><%= comment.commentid %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
