<p id="notice"><%= notice %></p>

<h1>Tags</h1>

<table>
  <thead>
    <tr>
      <style>
        th {
          background-color: gray;
          color: white;
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        }
      </style>
      <th>Tag Adı</th>
      <th>Tag Adedi</th>
      <th>Tag Fotosu</th>
      <th>Tag Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  </style>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.tagname %></td>
        <td><%= tag.tagnumber %></td>
        <td><%= tag.tagfoto %></td>
        <td><%= tag.tagid %></td>
        <td><%= link_to 'Show', tag %></td>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_tag_path %>
