<p id="notice"><%= notice %></p>

<p>
  <strong>Tagname:</strong>
  <%= @tag.tagname %>
</p>

<p>
  <strong>Tagnumber:</strong>
  <%= @tag.tagnumber %>
</p>

<p>
  <strong>Tagfoto:</strong>
  <%= @tag.tagfoto %>
</p>
<% if @tag.image.attached? %>
  <!-- @post.image.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Image:</strong>
    <br>
    <%= image_tag @tag.image %>
  </p>
<% end %>

<p>
  <strong>Tagid:</strong>
  <%= @tag.tagid %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
