<%= form_with(model: receipt, local: true) do |form| %>
  <% if receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
        <% receipt.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :total_cost %>
    <%= form.text_field :total_cost %>
  </div>

  <div class="field">
    <%= form.label :tax %>
    <%= form.text_field :tax %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>
  <div class="field">
    <%= form.label :receipt_image %>
    <%= form.file_field :receipt_image %>
  </div>

  <div class="field">
    <%= form.label :receipt_owner %>
    <%= form.number_field :receipt_owner %>
  </div>

  <div class="field">
    <%= form.label :receipt_tag_id %>
    <%= form.number_field :receipt_tag_id %>
  </div>

  <div class="field">
    <%= form.label :fatura_id %>
    <%= form.number_field :fatura_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
